@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
/*     font-family: 'Cairo', sans-serif; */
/* start top header */
.content1
{
    background: #2d3e50;
    padding:20PX;
}
.content1 .container .row .col-lg-4 .langs 
{
    padding-top:6px;
}
.content1 .container .row .col-lg-4 .langs a
{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Cairo', sans-serif;
}
.content1 .container .row .col-lg-4 .langs a.active
{
    color: #e41e25;
}
.content1 .container .row .col-lg-4 .langs .eng
{
    color: #5c7186;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 2px solid #5c7186;
}
.content1 .container .row .col-lg-4 .icons
{
    text-align: center;
}
.content1 .container .row .col-lg-4 .icons a
{
    color:#fff;
    text-decoration: none;
    font-size: 25px;
    padding-left: 25px;
}
.content1 .container .row .col-lg-4 .icons a i
{
    transition: .3s;
}
.content1 .container .row .col-lg-4 .icons a .fa-facebook-f:hover
{
    color:#3b5999;
}
.content1 .container .row .col-lg-4 .icons a .fa-instagram:hover
{
    color: #e4405f;
}
.content1 .container .row .col-lg-4 .icons a .fa-twitter:hover
{
    color: #55acee;
}
.content1 .container .row .col-lg-4 .icons a .fa-whatsapp:hover
{
    color: #25D366;
}
.content1 .container .row .col-lg-4 ul
{
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    margin-top:4px;
}
.content1 .container .row .col-lg-4 ul li
{
    color:#fff;
    padding-left: 15px;
}
@media(max-width:768px)
{
    .content1 .container .row .col-lg-4 .langs 
    {
        text-align: center;
    }
    .content1 .container .row .col-lg-4 .icons
    {
        text-align: center;
        padding:15px 0;
    }
    .content1 .container .row .col-lg-4 ul
    {
        display: block;
        text-align: center;
    }
}
@media(min-width:769px) and (max-width:1200px)
{
    .content1 .container .row .col-lg-4 ul
    {
        display: inline-block;
    }
}
/* end top header */
/* start navbar */
.content2
{
    background: #f1f1f1;
    /* position: sticky;
    width:100%;
    top:0; */
    z-index:100;
}
.content2 .container-fluid .row .col-lg-12 img
{
    width:180px;
}
.content2 .container-fluid .row .col-lg-12 .navbar .nav-item .nav-link
{
    font-family: 'Cairo', sans-serif;
    color: #2d3e50;
    font-weight:600;
    border-left: 1px solid #dee2e6;
    transition: .3s;
}
.content2 .container-fluid .row .col-lg-12 .navbar .nav-item:last-child .nav-link
{
    border-left: 0;
}
.content2 .container-fluid .row .col-lg-12 .navbar .nav-item.active .nav-link,
.content2 .container-fluid .row .col-lg-12 .navbar .nav-item:hover .nav-link
{
    color: #e41e25;
    border-bottom: 4px solid #e41e25;
}
.content2 .container-fluid .row .col-lg-12 .navbar form
{
    position: absolute;
    left:0;
}
.content2 .container-fluid .row .col-lg-12 .navbar form .signup
{
    border:0;
    border-right: 0;
    outline: 0;
    color:#2d3e50;
    font-family: 'Cairo', sans-serif;
    transition: .3s;
    margin-left: 15px;
}
.content2 .container-fluid .row .col-lg-12 .navbar form .login
{
    border:0;
    outline: 0;
    background: #2d3e50;
    color: #f3af34;
    padding: 10px 40px;
    font-family: 'Cairo', sans-serif;
}
.content2 .container-fluid .row .col-lg-12 .navbar form .signup:hover
{
    background: transparent;
    color:#e41e25;
}
@media(max-width:991px)
{
    .content2
    {
        background: #000;
    }
    .content2 .container-fluid .row .col-lg-12 .navbar 
    {
        padding-right:0;
    }
    .content2 .container-fluid .row .col-lg-12 .navbar .navbar-toggler span
    {
        color:#fff;
        border:0;
        border-radius:0;
        outline: 0;
    }
    .content2 .container-fluid .row .col-lg-12 .navbar form
    {
        position: static;
        display: flex;
        justify-content: center;
    }
    .content2 .container-fluid .row .col-lg-12 .navbar form button
    {
        color:#fff;
    }
    .navbar-collapse
    {
        width:100%;
        text-align:center;
    }
    .content2 .container-fluid .row .col-lg-12 .navbar .nav-item .nav-link
    {
        border-left: 0;
        margin-bottom:10px;
        color:#fff;
    }
}
/* end navbar */
/* start content3 */
.content3
{
    background: url('../imgs/header.jpg');
    background-size: cover;
    padding:80px 0 220px;
    font-family: 'Cairo', sans-serif;
}
.content3 .container .row .col-lg-12 h1
{
    color:#e41e25;
    font-weight: bold;
}
.content3 .container .row .col-lg-12 p
{
    font-size: 23px;
    list-style:3;
    padding:15px 0;
}
.content3 .container .row .col-lg-12 a
{
    border-radius: 5px;
    outline: 0;
    text-decoration:none;
    background: #2d3e50;
    color: #f3af34;
    padding: 10px 40px;
    font-family: 'Cairo', sans-serif;
}
@media(max-width:768px)
{
    .content3
    {
        text-align: center;
    }
}
/* end content3 */
/* start content4 */
.content4
{
    background: url('../imgs/about.png');
    background-size: cover;
    padding:30px 0;
}
.content4 p
{
    font-family: 'Cairo', sans-serif;
    font-size: 22px;
    width:47%;
    padding:50px 60px 50px 0;
}
@media(max-width:1200px)
{
    .content4 p
    {
        width:100%;
        padding:20px;
    }
}
/* end content4 */
/* start content5 */
.content5
{
    padding:50px 0;
}
.content5 .container .row .col-lg-12 h2
{
    font-family: 'Cairo', sans-serif;
    color:#e41e25;
    font-size: 30px;
    padding-bottom:30px;
    position: relative;
}
.content5 .container .row .col-lg-12 .owl-carousel .item .card 
{
    font-family: 'Cairo', sans-serif;
}
.content5 .container .row .col-lg-12 .owl-carousel .item .card img
{
    padding:5px;
}
.content5 .container .row .col-lg-12 .owl-carousel .item .card .card-title
{
    font-size: 20px;
    color: #a70e13;
    font-weight: 600;
}
.content5 .container .row .col-lg-12 .owl-carousel .item .card .btn
{
    color:#fff;
    border:0;
    background-color: #2d3e50;
    outline:none;
    padding:10px 50px;
    margin:0 auto;
}
.content5 .container .row .col-lg-12 .owl-carousel .owl-dots
{
    display: none;
}
.content5 .container .row .col-lg-12 .owl-carousel .owl-nav
{
    font-size: 50px;
    color: #000;
    position: absolute;
    top:-23%;
    left:0;
}
.content5 .container .row .col-lg-12 .owl-carousel .owl-nav .owl-next,
.content5 .container .row .col-lg-12 .owl-carousel .owl-nav .owl-prev
{
    outline:none;
}
.content5 .container .row .col-lg-12 .owl-carousel .owl-nav .owl-next:hover,
.content5 .container .row .col-lg-12 .owl-carousel .owl-nav .owl-prev:hover
{
    background:none;
    color:#000;
}
/* end content5 */
/* start content6 */
.content6 h2
{
    font-family: 'Cairo', sans-serif;
    color: #a70e13;
    font-weight:600;
    padding-bottom:0;
    margin-bottom:0;
}
.content6 span
{
    width:130px;
    height:3px;
    background: #a70e13;
    display: inline-block;
}
.content7
{
    background: #f5f5f5;
    margin-top:40px;
    padding:60px 0;
}
.content7 form
{
    display: flex;
    justify-content: center;
}
.content7 form .form-group
{
    width:100%;
}
.content7 form .form-group .form-control
{
    width:70%;
    margin:0 auto;
    font-family: 'Cairo', sans-serif;
    border:0;
    border:1px solid rgba(0,0,0,.1);
    height:40px;
}
.content7 form .groups .form-control
{
    float: left;
}
.content7 form .groups2 .form-control
{
    margin-left: 100px;
    position: relative;
}
.content7 form .form-group .form-control option
{
    background:#2d3e50;
    color:#fff;
}
.content7 form a
{
    text-decoration: none;
    position: absolute;
    left: 38px;
    top: -3px;
    color: #2d3e50;
    background: #fff;
    border-radius: 50%;
    padding: 10px 15px;
}
.content7 .data
{
    display: flex;
    align-items: center;
    background: #fff;
    margin-top:30px;
    border-top-right-radius:70px;
    border-bottom-right-radius:70px;
    height:170px;
    padding:0 40px;
    margin-bottom:30px;
}
.content7 .data .blood-type
{
    margin-top:10px;
    margin-left: 70px;
}
.content7 .data .blood-type p
{
    font-family: 'Cairo', sans-serif;
    font-size:25px;
    font-weight: 600;
    color:#2d3e50;
    border-radius: 50%;
    background: #f5f5f5;
    padding:30px;
}
.content7 .data .patient
{
    font-family: 'Cairo', sans-serif;
    font-size:20px;
}
.content7 .data .details
{
    position: absolute;
    left:6%;
}
.content7 .data .details a
{
    font-family: 'Cairo', sans-serif;
    text-decoration: none;
    color:#2d3e50;
    background: #f5f5f5;
    padding:15px 45px;
    font-size: 20px;
    font-weight: 600;
    transition: .3s;
}
.content7 .data .details a:hover
{
    color:#fff;
    background: #2d3e50;
}
.content7 .more
{
    text-align: center;
    margin:70px 0 0 0;
}
.content7 .more a
{
    font-family: 'Cairo', sans-serif;
    text-decoration: none;
    background: #2d3e50;
    color:#fff;
    font-size: 20px;
    padding:15px 45px;
    border-radius: 5px;
}
@media(max-width:768px)
{
    .content7 form
    {
        display: block;
    }
    .content7 form .form-group .form-control
    {
        width:100%;
    }
    .content7 form .groups2 
    {
        position: relative;
        top:20px;
    }
    .content7 form a
    {
        position: static;
        display: inline-block;
        margin-top: 30px;
        width: 100%;
        border-radius: 0;
    }
    .content7 .data
    {
        display: block;
        min-height:360px;
        text-align: center;
        border-radius: 0;
        padding:20px 40px;
    }
    .content7 .data .blood-type 
    {
        margin-left:0;
    }
    .content7 .data .blood-type p
    {
        padding:10px;
        border-radius: 0;
    }
    .content7 .data .details
    {
        position: static;
        margin:30px 0;
    }
}
/* end content6 */
/* start content8 */
.content8
{
    background: url('../imgs/call.jpg');
    background-size: cover;
    position: relative;
    height: 500px;
    background-attachment: fixed;
}
.content8 .content
{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
}
.content8 .content .container .text
{
    color:#fff;
    font-family: 'Cairo', sans-serif;
}
.content8 .content .container .text h3
{
    font-size: 45px;
}
.content8 .content .container .text p
{
    font-size:25px;
    padding:20px 0;
}
.content8 .content .container .text .contact 
{
    display: flex;
    justify-content: center;
}
.content8 .content .container .text .contact span
{
    background: #25D366;
    color:#fff;
    font-size:25px;
    padding:20px;
    border-radius:100px;
    position: relative;
    left: -45px;
    z-index: 1;
    display: inline-block;
    height:100px;
    padding-left:70px;
}
.content8 .content .container .text .contact img
{
    z-index: 2;
}
@media(max-width:768px)
{
    .content8 .content .container .text .contact img
    {
        display: none;
    }
    .content8 .content .container .text .contact span
    {
        left:0;
        padding-left: 20px;
    }
}
/* end content8 */
/* start content9 */
.content9
{
    background: url('../imgs/BG-phone.png');
    background-size: cover;
    padding:80px 0;
}
.content9 .container .row .col-lg-6 img
{
    width:100%;
}
.content9 .container .row .col-lg-6 .app
{
    font-family: 'Cairo', sans-serif;
}
.content9 .container .row .col-lg-6 .app h2
{
    font-size:35px;
}
.content9 .container .row .col-lg-6 .app p
{
    font-size:26px;
    padding:20px 0 40px;
}
.content9 .container .row .col-lg-6 .app h6
{
    text-align: center;
    font-size:25px;
    margin-bottom:25px;
}
/* end content9 */
/* start footer */
.top-footer
{
    background: #191f25;
    padding:50px 0;
    font-family: 'Cairo', sans-serif;
}
.top-footer .container .row .col-lg-4 p
{
    color:#fff;
    font-size:20px;
    padding-top:25px;
}
.top-footer .container .row .col-lg-4 ul
{
    list-style: none;
    margin:0;
    padding:0;
    text-align: center;
    padding-top:30px;
}
.top-footer .container .row .col-lg-4 ul li a
{
    font-size: 20px;
    text-decoration: none;
    color:#fff;
    display: inline-block;
    padding-bottom:24px;
    transition: .3s;
}
.top-footer .container .row .col-lg-4 ul li a:hover
{
    color:#e41e25;
}
.top-footer .container .row .col-lg-4 h3
{
    color:#e41e25;
    font-size: 25px;
    padding-top:30px;
}
.top-footer .container .row .col-lg-4 .images img
{
    margin-top:30px;
}
.bottom-footer
{
    background-color: #14171c;
    padding:2rem 0;
    font-family: 'Cairo', sans-serif;
}
.bottom-footer .container .row .col-lg-4 .icons
{
    text-align: center;
}
.bottom-footer .container .row .col-lg-4 .icons a
{
    color:#fff;
    text-decoration: none;
    font-size: 25px;
    padding-left: 25px;
}
.bottom-footer .container .row .col-lg-4 .icons a i
{
    transition: .3s;
}
.bottom-footer .container .row .col-lg-4 .icons a .fa-facebook-f:hover
{
    color:#3b5999;
}
.bottom-footer .container .row .col-lg-4 .icons a .fa-instagram:hover
{
    color: #e4405f;
}
.bottom-footer .container .row .col-lg-4 .icons a .fa-twitter:hover
{
    color: #55acee;
}
.bottom-footer .container .row .col-lg-4 .icons a .fa-whatsapp:hover
{
    color: #25D366;
}
.bottom-footer .container .row .col-lg-4 
{
    margin-bottom:20px;
}
.bottom-footer .container .row .col-lg-4 .p
{
    color:#fff;
    margin:0;
    padding:0;
    text-align: center;
}
.bottom-footer .container .row .col-lg-4 .p i
{
    color:#e41e25;
}
.bottom-footer .container .row .col-lg-4 .p2
{
    color:#fff;
    text-align: center;
}
.bottom-footer .container .row .col-lg-4 .p2 span
{
    color:#e41e25;
}
/* end footer */